/* nouveau CSS -> Bootstrap */
#header .container{
	height: 80px;
}
.navbar-brand {
	margin-top: -10px;
	height: 0;
}
.loginForm{
	margin-top: 22px;
}

#vignettes{
	margin-left: 18%;

}
#vignette-inscription{
	text-align: center;
}
.vignette-desc{
	text-align: justify;
	font-size: 18px;
}
#long-desc{
	margin-left: 50px;
	max-width: 90%;
	text-align: justify;
}
#menuTop{
	float: left;
	position: fixed;
	margin-top: 20px;
	margin-left: 215px;
	height: 100%;
	font-size: 20px;
}
ul#listeMenu{
	margin-top: -20px;
}
ul#listeMenu li{
	padding: 0;
	height: 80px;
}
ul#listeMenu li a{
	height: 80px;
	padding-top: 30px;
}
.formulaireRDV{
	margin-left: 15%;
}
#connected{
	color: white;
	margin: 0;
	margin-top: 15px;
	text-align: right;
}
.form-signin{
	max-width: 350px;
	margin: auto;
}
.form-signin a{
	text-decoration: none;
}
#compte{
	text-align: center;
}
#loginFields{
	display: block;
	padding-left: 0px;
	padding-right: 0px;
}
#loginButton{
	display: none;
}
#formulaire{
	max-width: 500px;
	margin: auto;
}
#mainLogo{
	max-height: 70px;
}
#inscription{
	max-width: 500px;
	margin: auto;
}
.boutonsCompte{
	float: right;
	margin-right: 20%;
}
.boutons{
	display: inline-block;
	margin-left: 10px;
}
#listingEntreprise button{
	width: 100px;
}
.entrepriseValidee{
	font-weight: bold;
}
/* inscription.php */

#choixType{
	width: 500px;
	margin: auto;
}
.compteEntreprise img{
	max-width: 400px;
}
.entrepriseLayout{
	padding: 15px 15px 15px 0px;
}
.entrepriseLayout img, .entrepriseLayout #resume{
	display: inline-block;
}
.entrepriseLayout #resume
{
	padding: 10px 10px 10px 20px; 
}
/*  FIN inscription.php	*/
/* END  nouveau CSS -> Bootstrap */
/*body{
		
width: 790px;
margin: auto;

}*/
#header{
	margin: auto;
	width: 790px;
	padding-bottom: 105px;
}
.edition{
	text-align: right;
	font-family: "Arial Black", Arial, Verdana, serif;
	font-size: 80%;
	float:right;
	margin-right: 5px;
	margin-top: 5px;
}

.lieu{
padding-top: 10px;
font-size: 85%;
font-family: Arial;
}



#entreprises table{
	max-width: 80%;
	margin:auto;
	text-align: center;
}
#entreprises td img{
	width: 100px;
}
#entreprises td{
	padding:10px;
}
.rdvEtudiants{
	max-width: 80%;
	margin: auto;
}
#messages{
	padding-left: 20px;
}
footer{
	border-top: 1px inset black;
	text-align: center;
	font-family: Arial;
	font-size:80%;
}


@media screen and (max-width: 1200px) {

#loginFields{
	display: none;
}
#loginButton{
	display: block;
}
#header .container{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;

}
}
/*   tablette  */
@media screen and (max-width: 1000px) {
#loginButton{
	display: none;
}
#menuTop{
	margin-left: 170px;
}
}
/*  mobile  */
@media screen and (max-width: 770px) {
#menuTop{
	float: none;
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 20px;
	height: auto;
	background-color: black;
	margin-top: 30px;
	width: 100%;
}
}